<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/adminpage.css">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="javascripts/admin.js"></script>
 

    <head>
        <title>Soccer</title>
        <script>
            if(id!==admin){
                alert("관리자만 이용할 수 있습니다.");
                location.href='/';
            }
        </script>
    </head>
    <body>
        <header id="m9Head">
            <div id="wrap_head">
                <h2 id="home"><a href="/">M9SOCCER</a></h2>
                <nav>
                    <ul>
                        <li class="menu"><a href="/">홈</a></li>
                        <li class="menu"><a href="/reservation">운동장 예약</a></li>
                       <!-- <li class="menu"><a href>커뮤니티</a></li>-->
                    </ul>
                </nav>
                <% if(account!=='' && account!=='admin'){ %>
                    <strong id="login" ><%=account%>&nbsp;|&nbsp;  <a href='/logout'> LOGOUT </a></strong>
                    <strong><a href='/mypage'>마이 페이지</a></strong>
                <% } else if(account==='admin'){%>
                    <strong id="login"><%=account%>&nbsp;|&nbsp;  <a href='/logout'> LOGOUT </a></strong>
                    <strong><a href='/adminpage'>관리자 페이지</a></strong>
                <%}else{%>   
                    <strong id="login"><a href='/login'>로그인</a></strong>
                <%}%>
            </div>
        </header>
        <div id="content_wrap">
            <table>
                <caption>
                    <h3>운동장 예약 현황</h3>
                <caption>
                <thead>
                    <tr>
                        <th>예약 번호</th>
                        <th>사용자 아이디</th>
                        <th>운동장</th>
                        <th>예약 시간</th>
                        <th>예약 상태</th>
                        <th>예약 처리</th>
                    </tr>
                </thead>
                <tbody>
                    <%if(reservationList[0].name===undefined){%>
                        <tr><td><%=reservationList[0].text%></td></tr>
                    <%}else{%>
                        <%for(let i=0; i<reservationList.length; i++){%>
                            <tr>
                                <td><%=reservationList[i].id%></td>
                                <td><%=reservationList[i].account%></td>
                                <td><%=reservationList[i].name%></td>
                                <td><%=reservationList[i].use_date%>&nbsp;<%=reservationList[i].use_time%></td>
                                <td><%=reservationList[i].state%></td>
                                <td>
                                    <%if(reservationList[i].state==='승인 완료'){%>
                                    <button type='button' id='cancelBtn' onclick="updateReservationState('cancel','<%=reservationList[i].id%>');" class="btn">취소</button> 
                                    <%}else{%>
                                    <button type='button' id='approvalBtn' onclick="updateReservationState('approval','<%=reservationList[i].id%>', '<%=reservationList[i].state%>');" class="btn">승인</button>
                                    <button type='button' id='cancelBtn' onclick="updateReservationState('cancel','<%=reservationList[i].id%>');" class="btn">취소</button> 
                                    <%}%>
                                </td>
                            </tr>
                        <%}%> 
                    <%}%>
                </tbody>
            </table>
        </div>
    </body>
    
</html>